<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string></string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MAE_Standard应用配置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>工具栏模式</string>
				<string>导航条模式</string>
			</array>
			<key>Title</key>
			<string>应用框架模式</string>
			<key>Key</key>
			<string>appMode</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Linear</string>
				<string>Rotary</string>
				<string>InvertedRotary</string>
				<string>InvertedCylinder</string>
				<string>Wheel</string>
				<string>InvertedWheel</string>
				<string>CoverFlow</string>
				<string>CoverFlow2</string>
				<string>TimeMachine</string>
				<string>InvertedTimeMachine</string>
				<string>Custom</string>
			</array>
			<key>Title</key>
			<string>滑动视图风格</string>
			<key>Key</key>
			<string>carouselStyle</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Title</key>
	<string>MAE_Standard</string>
</dict>
</plist>
