<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>RootViewController</string>
	<string>NewsViewController</string>
	<string>EventViewController</string>
	<string>ContactViewController</string>
	<string>MoreViewController</string>
	<string>WallViewController</string>
	<string>ProductViewController</string>
	<string>GalleryViewController</string>
	<string>LoginViewController</string>
	<string>FormViewController</string>
	<string>AboutViewController</string>
	<string>SettingsViewController</string>
</array>
</plist>
