<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>主页</string>
		<key>Default</key>
		<string>ico_default_tabbar_home_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_home_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>资讯</string>
		<key>Default</key>
		<string>ico_default_tabbar_news_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_news_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>活动</string>
		<key>Default</key>
		<string>ico_default_tabbar_event_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_event_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>联系</string>
		<key>Default</key>
		<string>ico_default_tabbar_contact_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_contact_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>留言</string>
		<key>Default</key>
		<string>ico_default_tabbar_message_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_message_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>产品</string>
		<key>Default</key>
		<string>ico_default_tabbar_product_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_product_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>相册</string>
		<key>Default</key>
		<string>ico_default_tabbar_gallery_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_gallery_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>会员</string>
		<key>Default</key>
		<string>ico_default_tabbar_member_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_member_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>登记</string>
		<key>Default</key>
		<string>ico_default_tabbar_checkin_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_checkin_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>关于</string>
		<key>Default</key>
		<string>ico_default_tabbar_about_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_about_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>设置</string>
		<key>Default</key>
		<string>ico_default_tabbar_setting_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_setting_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>更多</string>
		<key>Default</key>
		<string>ico_default_tabbar_more_normal.png</string>
		<key>Seleted</key>
		<string>ico_default_tabbar_more_selected.png</string>
		<key>Highlighted</key>
		<string></string>
	</dict>
</array>
</plist>
